/.emacs.desktop.lock
/.emacs.desktop
/ac-comphist.dat
rano/workgroups/session

# package files installed
/elpa/*

# compiled files
*.elc


# saved changes
*~

# mac DS_Store
.DS_Store

# projectile
projectile.cache
projectile-bookmarks.eld

# package cookies
url/cookies

# python env
.python-environments/*

# emacs session files
session.*
